* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    font-family: 'Cinzel', serif;
    color: #CCCCCC;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    border-bottom: 3px solid #4A0E0E;
}

header h1 {
    color: #B8860B;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #000000;
}

.Dialogo {
    text-align: center;
    padding: 20px;
}

.Dialogo h1 {
    color: #B8860B;
    font-size: 1.8em;
    margin: 15px 0;
}

.Dialogo h2 {
    color: #D4A017;
    font-size: 1.5em;
    margin: 20px 0;
    text-shadow: 1px 1px 3px #4A0E4A;
}

hr {
    border: none;
    height: 2px;
    background-color: #4A0E0E;
    width: 70%;
    margin: 20px auto;
}

main {
    padding: 20px;
    text-align: center;
}

main h3 {
    color: #CCCCCC;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.2em;
    margin: 15px 0;
    background-color: rgba(51, 51, 51, 0.7); /*Fundo da caixa de texto*/
    padding: 10px;
    border-radius: 5px;
}

main h1 {
    color: #D4A017;
    font-size: 1.6em;
    margin: 30px 0;
    font-style: italic;
}

main img {
    width: 70%;
    max-width: 400px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

main img:hover {
    transform: scale(1.05);
}
